<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototyp interfejsu</title>
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/dziekan-menu.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Perspektywa dziekana</h1>
            <p>Jan Dziekański</p>
        </div>
        <div class="button-grid">
            <a href="{{ url_for('hospitacje_menu') }}" class="button blue">Harmonogram i hospitacje</a>
            <div class="button red">Szablon protokołu</div>
            <div class="button green">Członkowie Zespołu ds. Hospitacji Zajęć</div>
            <div class="button purple">Hospitacje zlecone mi i dotyczące mnie</div>
        </div>
    </div>
</body>
</html>