<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Inspectio</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/edycja-szablonu.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/img/pwr-logo.png">
            <div class="account-bar">
                <p>Jan Dziekański</p>
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="title">
            <p>Szablon protokołu</p>
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="protocol">
            <div class="info-section">
                <div class="info-header">
                    <div class="text">
                        <p>Informacje wstępne.</p>
                        <div class="vertical-line"></div>
                        <p></p>
                    </div>
                    <div class="buttons">
                        <i class="fa-solid fa-arrow-down"></i>
                        <i class="fa-solid fa-arrow-up"></i>
                        <i class="fa-solid fa-pen"></i>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
                <div class="info">
                    <div class="info-item">
                        <div class="text">
                            <p>Prowadzący zajęcia/jednostka organizacyjna:</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="text">
                            <p>Kod przedmiotu:</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="text">
                            <p>Sposób realizacji (tradycyjny, zdalny):</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
            <div class="info-section">
                <div class="info-header">
                    <div class="text">
                        <p>Ocena merytoryczna i metodyczna przeprowadzonych zajęć</p>
                        <div class="vertical-line"></div>
                        <p>5,5 - wzorowa, 5 - bardzo dobra, 4 - dobra, 3 - dostateczna, 2 - negatywna, 0 - nie dotyczy</p>
                    </div>
                    <div class="buttons">
                        <i class="fa-solid fa-arrow-down"></i>
                        <i class="fa-solid fa-arrow-up"></i>
                        <i class="fa-solid fa-pen"></i>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>
                <div class="info">
                    <div class="info-item">
                        <div class="text">
                            <p>Prowadzący przedstawił temat cel i zakres zajęć</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="text">
                            <p>i takie</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="text">
                            <p>różne</p>
                        </div>
                        <div class="buttons">
                            <i class="fa-solid fa-arrow-down"></i>
                            <i class="fa-solid fa-arrow-up"></i>
                            <i class="fa-solid fa-pen"></i>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </div>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>