<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Inspectio</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/edycja-szablonu.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <img src="/static/img/pwr-logo.png">
            </a>
            <div class="account-bar">
                <p>Jan Dziekański</p>
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="title">
            <p>Szablon protokołu</p>
            <i class="fa-solid fa-plus" onclick="addSection()"></i>
        </div>
        <div class="protocol">
            
        </div>
    </div>
    <script src="/static/javascript/edycja-szablonu.js"></script>
</body>
</html>
