<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Inspectio</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/hospitacje-menu.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <img src="/static/img/pwr-logo.png">
            </a>
            <div class="account-bar">
                <p>Jan Kowalski</p>
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="button-grid">
            <div class="button blue">Hospitacje zlecone mi</div>
            <a href="{{ url_for('hospitacje_dotyczace_mnie') }}" class="button red">Hospitacje dotyczące mnie</a>
        </div>
    </div>
</body>
</html>