<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Inspectio</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/zatwierdzenie-hospitacji.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
                <img src="/static/img/pwr-logo.png">
            </a>
            <div class="account-bar">
                <p>Jan Kowalski</p>
                <i class="fa-solid fa-bell"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="info">
            <div class="left">
                <p>
                    Techniki efektywnego programowania <br/> 
                    W041ST-S10018L <br/>
                    Zespół hospitujący: Anna Nowak, Piotr Wiśniewski, Tomasz Zając
                </p>
            </div>
            <div class="right">
                <p>
                    05/07/2022 <br/> 
                    107b, bud. D-2
                </p>
                <button>Zatwierdź</button>
            </div>
        </div>
        <div class="horizontal-line"></div>
        <p>Protokół:</p>
        <div class="protocol">
            
        </div>
    </div>
    <script src="/static/javascript/zatwierdzenie-hospitacji.js"></script>
</body>
</html>
